html:not(.whitelisting-disabled) ytd-rich-item-renderer,
html:not(.whitelisting-disabled) ytd-video-renderer {
  display: none !important;
}

html:not(.whitelisting-disabled) ytd-rich-item-renderer[data-allowed],
html:not(.whitelisting-disabled) ytd-video-renderer[data-allowed] {
  display: block !important;
}
